<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

	<!-- habilitar renderizadores asp.net core -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- los  targets (objetivos) en los que escribir -->
	<targets>
		<!-- Archivo Destino para todos los mensajes de registro con detalles básicos -->
		<target xsi:type="File" name="allfile" fileName="nlog-AspNetCore-all-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

		<!-- Archivo Destino para mensajes de registro propios con detalles web extra usando algunos renderizadores del núcleo de ASP.NET -->
		<target xsi:type="File" name="ownFile-web" fileName="nlog-AspNetCore-own-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

		<!--Objetivo de consola para alojar mensajes de vida útil para mejorar la detección de inicio de Docker / Visual Studio -->
		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
	</targets>

	<!-- reglas para asignar el nombre del registrador al objetivo -->
	<rules>
		<!--Todos los registros, incluidos los de Microsoft-->
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="System.*" finalMinLevel="Warn" />
		<!--Salida de mensajes de vida útil de alojamiento a la consola de destino para una detección más rápida de inicio -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />
		<logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
		<!--Omitir los logs no críticos de Microsoft y así registrar sólo los logs propios (BlackHole) -->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="Microsoft.*" finalMinLevel="Warn" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />
		
		<logger name="*" minlevel="Trace" writeTo="ownFile-web" />
	</rules>
</nlog>