<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwConfigExceptions="false">

	<variable name='globalLevel' value='debug'/>
	<variable name="logDirectory" value="logs/${shortdate}"/>

	<variable name="myJsonLayout">
		<layout xsi:type="JsonLayout" includeEventProperties="Boolean" excludeProperties="Comma-separated list (string)">
			<attribute name="time" layout="${longdate}" />
			<attribute name="level" layout="${level:upperCase=true}"/>
			<attribute name="callsite" layout="${callsite}"/>
			<attribute name="message" layout="${message}" />
		</layout>
	</variable>

	<targets async="true">
		<default-wrapper xsi:type="AsyncWrapper">
			<wrapper-target xsi:type="RetryingWrapper"/>
		</default-wrapper>
		<default-target-parameters xsi:type="File" keepFileOpen="false"/>
		<target name="logfileAll" xsi:type="File" fileName="${logDirectory}/fileAll.txt" keepFileOpen="false" />
		<target name="logfileOwn" xsi:type="File" fileName="${logDirectory}/fileOwn.txt" layout="${myJsonLayout}" />
		<target name="logfileOwn1" xsi:type="File" fileName="${logDirectory}/${logger}.txt" />
	</targets>
	<targets>
		<default-wrapper xsi:type="BufferingWrapper" bufferSize="100"/>
		<target name="logfileOwn2" xsi:type="AsyncWrapper">
			<target xsi:type="RetryingWrapper">
				<target xsi:type="File" fileName="${logDirectory}/${file}.txt" />
			</target>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel='${globalLevel}' writeTo="logfileAll" />
		<logger name="LP07_Logs.Controllers.*" minlevel='${globalLevel}' writeTo="logfileOwn"/>
		<logger name="LP07_Logs.Controllers.WeatherForecastController" minlevel="Debug" writeTo="logfileOwn1" />
		<logger name="LP07_Logs.Controllers.*" minlevel='${globalLevel}' writeTo="logfileOwn2"/>
	</rules>
</nlog>